<!-- Page Footer-->
<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Stayhopper &copy; 2018</p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</div>
<!-- JavaScript files-->
<script src="/public/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/public/js/date.js"></script>
<!-- Main File-->
<script src="/public/js/front.js"></script>
</body>

</html>