<% if(_.contains(completed, 'rooms')||_.contains(completed, 'basicinfo')){ %>
<div class="col-sm-4 d-flex justify-content-center d-block mx-auto pt-3 pb-4">
   <a href="/admin/rooms/<%=property_id%>"><button class="btn btn-block btn-primary loginBtn saveBtn">Save & Continue</button></a>
</div>
<% } %>